<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maxinmum-scale=1.0,user-scalable=0" name="viewport">
    <title>小灰灰</title>
    <link rel="icon" th:href="@{/images/timg.jpg}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/live/waifu1.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/live/flat-ui.min.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/main/main.css}" media="all"/>
</head>
<body class="main_body">
<span><span><span><script th:src="@{/cockhorse/no.js}"></script></span></span></span>
<div class="layui-layout layui-layout-admin">
    <!--顶部状态栏-->
    <div class="layui-header">
        <div class="layui-logo logo">小灰灰</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" pc>
                <a href="javascript:;"><i class="layui-icon" data-icon="&#xe640;">&#xe60e;</i><span id="time"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${loginname}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#" th:data-url="@{/user/info(id=${id})}"><i class="layui-icon">&#xe770;</i>个人中心</a></dd>
                    <dd><a href="@{/login/exit}"><i class="layui-icon">&#xe682;</i>退出账户</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!--左侧导航-->

</div>
<!--看板娘结束-->
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/cockhorse/live/jquery.min.js}"></script>
<script th:src="@{/cockhorse/live/waifu-tips.js}"></script>
<script th:src="@{/cockhorse/live/live2d.min.js}"></script>
<script th:src="@{/cockhorse/main/main.js}"></script>
</body>
</html>