<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maxinmum-scale=1.0,user-scalable=0" name="viewport">
    <title>小灰灰</title>
    <link rel="icon" th:href="@{/images/timg.jpg}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body>
<span><span><span><script th:src="@{/cockhorse/no.js}"></script></span></span></span>
<div>
</div>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/cockhorse/system/menus.js}"></script>
</html>