<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maxinmum-scale=1.0,user-scalable=0" name="viewport">
    <title>小灰灰</title>
    <link rel="icon" th:href="@{/images/timg.jpg}">
    <link rel="stylesheet" th:href="@{/cockhorse/index/css.css}" media="all"/>
</head>
<body ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false">
<span><span><span><script th:src="@{/cockhorse/no.js}"></script></span></span></span>

<div id="hovertreecontainer">

    <div>
        <h1 id="h1">小灰灰</h1>
        <h2 id="h2"> 想问候，不知从何问起，就直接说喜欢你！</h2>
        <h3 id="h3">别害怕，我一直站在你的身后，总在你呼唤时守在你左右。</h3>
        <p> </p>
        <p><strong><a th:href="@{/login/toLogin}">进入主站</a></strong></p>
    </div>

</div>
<canvas id="canvas"></canvas>
<script th:src="@{/cockhorse/index/js.js}"></script>
</body>
</html>