<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>小灰灰</title>
    <link rel="icon" th:href="@{/images/timg.jpg}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/live/waifu1.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/live/flat-ui.min.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/login/login.css}" media="all"/>
</head>
<body>
<span><span><span><script th:src="@{/cockhorse/no.js}"></script></span></span></span>
<div id="index"></div>
<div class="background-main">
    <fieldset class="layui-elem-field layui-field-title login-fieldset">
        <legend>欢迎登陆 - 小灰灰管理平台</legend>
    </fieldset>
    <form class="layui-form" lay-filter="frm" id="frm" method="post">
        <div class="layui-form-item input-item">
            <label><span>用户名</span></label>
            <span class="xian">______<span>______</span></span>
            <input type="text" placeholder="请输入用户名" autocomplete="off" name="loginname" class="layui-input"
                   lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label>密码</label>
            <span class="xian">_____<span>______</span></span>
            <input type="password" placeholder="请输入密码" autocomplete="off" name="loginpwd" class="layui-input"
                   lay-verify="required">
        </div>
        <div class="layui-form-item input-item">
            <label>验证码</label>
            <span class="xian">______<span>______</span></span>
            <input type="text" placeholder="请输入验证码" autocomplete="off" name="code" class="layui-input code"
                   lay-verify="required" maxlength="4">
            <div class="login-code layui-inline">
                <img alt="验证码" id="code" onclick="this.src = '../login/getCode?d=' + new Date() * 1"
                     th:src="@{/login/getCode}"/>
                <span id="time">60</span>
            </div>
        </div>
        <div class="text-error" th:text="${msg}"></div>
        <div class="layui-form-item input-item-submit">
            <button class="layui-btn btn-sub" lay-filter="login" lay-submit>登录</button>
        </div>
    </form>
</div>
<!--看板娘开始-->
<div class="waifu" id="waifu">
    <!--<div class="waifu-tips" style="opacity: 1;"></div>-->
    <canvas id="live2d" width="300" height="300" class="live2d"></canvas>
    <!--<div class="waifu-tool">-->
        <!--<span class="fui-home"></span>-->
        <!--<span class="fui-chat"></span>-->
        <!--<span class="fui-eye"></span>-->
        <!--<span class="fui-user"></span>-->
        <!--<span class="fui-photo"></span>-->
        <!--<span class="fui-info-circle"></span>-->
        <!--<span class="fui-cross"></span>-->
    <!--</div>-->
</div>
<!--看板娘结束-->
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/cockhorse/live/jquery.min.js}"></script>
<script th:src="@{/cockhorse/live/waifu-tips.js}"></script>
<script th:src="@{/cockhorse/live/live2d.min.js}"></script>
<script th:src="@{/cockhorse/login/login.js}"></script>
</body>
</html>