<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maxinmum-scale=1.0,user-scalable=0" name="viewport">
    <title>小灰灰</title>
    <link rel="icon" th:href="@{/images/timg.jpg}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/cockhorse/login/css.css}" media="all"/>
</head>
<body>
    <span><span><span><script th:src="@{/cockhorse/no.js}"></script></span></span></span>
    <img alt="验证码" id="code" onclick="this.src='/login/getCode?d='+new Date()*1" src="/login/getCode" />
    <form class="layui-form"  lay-filter="frm" id="frm">
        <input type="text" name="code" lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input" style="width: 100px">
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release" lay-filter="sub" lay-submit="">提交</button>
    </form>
    <canvas id="c_n12" width="1829" height="585" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 1;"></canvas>
</body>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/cockhorse/login/js.js}"></script>
</html>