<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cockhorse.mapper.LoginMapper">

    <select id="loginname" resultType="Sys_user">
        select * from sys_user where loginname=#{loginname} and available=1
    </select>
</mapper>