<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cockhorse.mapper.MenuMapper">
    <select id="selAllMenus" resultType="Menu">
        select distinct t1.* from sys_menu t1 inner join sys_role_menu t2 inner join sys_role_user t3 inner join sys_role t4
on(t1.id=t2.mid and t2.rid=t3.rid and t2.rid=t4.id)	where t3.uid=#{id} and t1.available=1 and t4.available=1
    </select>
</mapper>