<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cockhorse.mapper.UserMapper">
    <select id="selImage" resultType="Pictures" parameterType="Sys_user">
        select * from pictures where pid=#{pid}
    </select>
    <insert id="upload" parameterType="Pictures" useGeneratedKeys="true" keyProperty="pid">
        insert into pictures values(null,#{path})
    </insert>
    <select id="address" resultType="Address">
        select * from base_area;
    </select>
</mapper>